/*https://colorhunt.co/palette/202295
https://colorhunt.co/palette/226670
*/

body{
    background-color: #8d84a1;
}

h1{
    font-family: 'Mouse Memoirs', sans-serif;
    color: #efbbcf;
    font-size: 36px;
    letter-spacing: 4px;
}

h1:hover{
    color: #ffd5cd;
    text-shadow: 3px 3px 3px #333333;
}

h3{
    letter-spacing: 3px;
    font-family: 'Mouse Memoirs', sans-serif;
    color: #efbbcf;
}

h3:hover{
    color: #ffd5cd;
    text-decoration: #333333 solid underline;
}

p{
    font-family: 'Singlet', cursive;
    font-size: 14px;
    color: #ffd5cd;
}

ul{
    font-family: 'Singlet', cursive;
    font-size: 14px;
    color: #ffd5cd;
}

#persona{
    text-indent: 50px;
}